name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: |
          pip install --upgrade pip
          pip install -e bioget_py
          pip install pytest
      - run: pytest bioget_py/tests

  r:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
      - run: |
          install.packages(c("testthat", "roxygen2", "devtools"))
        shell: Rscript {0}
      - run: |
          R CMD build bioget_r/bioget
          R CMD check bioget_r/bioget_0.1.0.tar.gz --no-manual --as-cran
